<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
    <title>FTS - HOME</title>
</head>
<body id="home">
    <div class="home-overlay"></div>
    <%- include('./partials/navbar') %> 
    <%- include('./partials/home/home-hero') %> 
    <%- include('./partials/home/home-about-section') %> 
    <%- include('./partials/home/cards-sections') %> 
    <%- include('./partials/home/request-a-ride-form') %> 
    <%- include('./partials/home/drive-with-fts') %> 
    <%- include('./partials/footer') %> 
    <%- include('./partials/sub-footer') %> 
</body>
</html>
